@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* fonts */
    --FF: "Baloo 2", sans-serif;
    --FONT-COLOR: white;
    
    /* background colors */
    --BG-CONTACT-SEARCH: rgb(0, 39, 60);
    --BG-MIDDLE-CONTAINER: rgb(0, 99, 124);
    --BG-COLOR-LIGHT: #00899d;
    --BG-COLOR-DARK: #002941;

    /* box shadows */
    --BOX-SHADOW-CONTACT-SEARCH: 3px 0px rgb(114, 114, 114);
}

.header {
    background-image: url(img/Screenshot_1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: ; */
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--FF);
}

.header_section_wawes {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url(img/wawes.png);
    background-size: cover;
    background-position: center;
    /* background-attachment:fixed; */
    background-repeat: no-repeat;
    opacity: 0.8;
    overflow: none;
}

.header_section_wawes_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 35%;
}

.header_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 90%;
    color: var(--FONT-COLOR);
}

.header_head_inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    color: var(--FONT-COLOR);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 70px;
}

.logo_img {
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 60%;
}

.navbar_ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-bottom: 10px;
}

.navbar_li {
    list-style-type: none;
}

.bar_bottom_header {
    background-color: white;
    height: 5px;
    width: 90%;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: var(--FONT-COLOR);
}

.header_section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: -500px;
    width: 100%;
    height: 70%;
}

.container_left_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    margin-left: 80px;
    margin-bottom: 150px;
    font-size: 30px;
    color: var(--FONT-COLOR);
}

.container_right_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    font-size: 40px;
    text-align: end;
    margin-right: 80px;
    color: var(--FONT-COLOR);
}

.search_contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    height: 70%;
    font-size: 9px;
    text-align: start;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--BG-CONTACT-SEARCH);
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 45px;    
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--BG-CONTACT-SEARCH);
}

.container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 30%;
    height: 100%;
    box-shadow: var(--BOX-SHADOW-CONTACT-SEARCH);
}

.container_text_for_icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top-right-radius: 15px;
    width: 80%;
    height: 100%;
    margin-left: 15px;
}

.container_icon img {
    width: 70%;
    height: 70%;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: var(--FF);
    color: var(--FONT-COLOR);
}

.main_section_first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(img/Screenshot_2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}

.top_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    height: 50%;
}

.bottom_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 50%;
    width: 90%;
    font-size: 25px;
    margin-bottom: 20px;
}

.top_container_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 70%;
    background-color: white;
    font-size: 30px;
    color: rgb(0, 109, 125);
    opacity: 0.7;
}

.left_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    padding-bottom: 20px;
}

.left_text p {
    font-weight: 100;
}

.middle_text {
    padding-bottom: 20px;
}

.middle_text p {
    font-weight: 100;
}

.right_text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: end;
}

span {
    font-weight: bold;
}

.top_container_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.top_container_icon img {
    width: 100px;
    height: 100px;
}

.main_section_second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-color: white;
}

.container_top {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/style.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30%;
}

.container_middle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--BG-MIDDLE-CONTAINER);
    width: 100%;
    height: 40%;
}

.top_text_trainers {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size: 35px;
    width: 100%;
}

.top_text_trainers p {
    font-size: 25px;
}

.bottom_trainers_img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.trainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trainer_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 20px;
}

.container_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/style1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30%;
}

.forgoten_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    background: url(img/Screenshot_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
    font-weight: 100;
}

.text_container_heading {
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 25px;
    width: 60%;
    padding-right: 50px;
    padding-top: 20px;
}

.text_container_heading p {
    font-size: 20px;
}

.text_container_text {
    display: flex;
    flex-direction: column;
    width: 55%;
    text-align: justify;
    padding-right: 50px;
    padding-top: 20px;
    font-size: 20px;
}

.signature_forgoten {
    text-align: end;
}

.main_section_third {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(img/Screenshot_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.container_third {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: white;
    text-align: center;
    color: rgba(1, 90, 104, 0.988);
    font-weight: 100;
    opacity: 0.7;
}

.facilities_section {
    background-color: var(--BG-COLOR-LIGHT);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main_container_facilities {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.facilities_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--FONT-COLOR);
    font-size: 60px;
}

.icon_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.icon_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70px;
    height: 100px;
    margin-top: 50px;
}

.icon_img img {
    width: 100%;
    height: 100%;
}

.footer_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background: url(img/Screenshot_5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: var(--FF);
}

.container_footer_top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    width: 100%;
    height: 50%;
    margin-left: 100px;
    margin-top: 20px;
}

.container_footer_bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 90%;
    height: 50%;
    margin-bottom: 20px;
}

.container_footer_bottom div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    font-weight: 100;
    font-size: 20px;
}

.contact_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--BG-COLOR-LIGHT);
    font-family: var(--FF);
}

.contact_container_first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.first_top {
    background: url(img/cont.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    width: 100%;
}

.first_bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: var(--BG-COLOR-DARK);
}

.first_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: var(--FONT-COLOR);
}

.first_left h1 {
    font-size: 60px;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-left: 100px;
}

.socials_info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.socials_info img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.first_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.first_right_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.first_right_img img {
    width: 400px;
    height: 400px;
}

.contact_container_second {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5px;
    background-color: var(--BG-COLOR-DARK);
}

.contact_container_third {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: var(--BG-COLOR-DARK);
}




